.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: ;
}

.login-form-container form {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(box-shadow);
  background: #fff;
  text-align: center;
  width: 40rem;
  border-color: black;
  box-shadow: black;
  box-shadow: 1px black;
}

.login-form-container .btn {
  display: inline-block;
  width: 100%;
  margin: 2rem 0;
  border-color: black;
  background-color: yellow;
  
}

.login-form-container form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  
}

.login-form-container form .box {
  margin: 2rem 0;
  width: 100%;
  text-transform: none;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;

  border-radius: 0.5rem;
}

.login-form-container form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  
}

.login-form-container form p a {
  text-transform: underline;
  
}

#close-login-form {
  position: fixed;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  
}
